.likeBtnDefaultStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--main-dark) / 1);
  border: 1px solid rgb(var(--main-white-100) / 1);
  filter: brightness(0.9);
  border-radius: 100%;
}

.likeBtnDefaultStyle:hover {
  filter: brightness(1.5);
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.likeBtnIconStyle {
  padding: 2px;
  color: rgb(var(--main-white-100) / 1);
}

@media not all and (min-width: 640px) {
  .likeBtnIconStyle {
    padding: 0.25rem;
  }
}