.iconBtn {
  background-color: transparent;
  border: 1px solid ;
  transition: all ease-in;
}

.iconBtn:hover {
  background-color: transparent;
  filter: brightness(1.1);
  border: 2px solid ;
}

/* .signupBtn {

} */

/*************** ActionWatchlist ***************/
.watchlistBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-radius: 100%;
  border-color: hsl(var(--main_white_100));
  background-color: hsl(var(--main_dark));
  filter: brightness(0.9);

}

.watchlistBtn:hover {
  filter: brightness(1.5);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

/*************** Like Dislike Button ***************/

.likeBtnDefaultStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--main_dark));
  border: 1px solid hsl(var(--main_white_100));
  filter: brightness(0.9);
  border-radius: 100%;
}

.likeBtnDefaultStyle:hover {
  filter: brightness(1.5);
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.likeBtnIconStyle {
  padding: 2px;
  color: hsl(var(--main_white_100));
}

@media not all and (min-width: 640px) {
  .likeBtnIconStyle {
    padding: 0.25rem;
  }
}