/*************** Auth Icon Button Style / Google-Github ***************/
.iconBtn {
  background-color: transparent;
  border: 1px solid ;
  transition: all ease-in;
}

.iconBtn:hover {
  background-color: transparent;
  filter: brightness(1.1);
  border: 2px solid ;
}
/***************  direct button to  auth page ***************/
.signInButton {
  background-color: hsl(var(--main_red));
  padding-top: 0.375rem ;
  padding-bottom: 0.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: calc(var(--radius) - 4px);
  font-size: 0.85rem;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.signInButton:hover {
  opacity: 0.9;
}

/*************** Animation Wrapper Style ***************/
.animationWrapper {
  position: absolute;
  top: 50vh;
  left: 50%;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

/*************** ActionWatchlist ***************/
.watchlistBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-radius: 100%;
  border-color: hsl(var(--main_white_100));
  background-color: hsl(var(--main_dark));
  filter: brightness(0.9);

}

.watchlistBtn:hover {
  filter: brightness(1.5);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

/*************** Like Dislike Button ***************/

.likeBtnDefaultStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--main_dark));
  border: 1px solid hsl(var(--main_white_100));
  filter: brightness(0.9);
  border-radius: 100%;
}

.likeBtnDefaultStyle:hover {
  filter: brightness(1.5);
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.likeBtnIconStyle {
  padding: 2px;
  color: hsl(var(--main_white_100));
}

/*************** Dropdown Menu ***************/
.dropdownSelectionBtnWrapperDefault {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10rem;
  border: 1px solid white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.dropdownSelectionBtnWrapperDefault:hover {
  background-color: hsl(var(--main-gray));
}

.openedDropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  z-index: 10;
  background-color: black;
  border: 1px solid;
  opacity: 0.8;
}

@media (min-width: 640px) {
  .dropdownSelectionBtnWrapperDefault {
    min-width: 14rem;
  }

  .openedDropdownMenu {
    min-width: 14rem;
    right: 0;
  }
}

@media not all and (min-width: 640px) {
  .likeBtnIconStyle {
    padding: 0.25rem;
  }

  .dropdownSelectionBtnWrapperDefault {
    font-size: 0.875rem;
    line-height: 1.25rem;

    
  }
}