@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 8 8 10;                  /* #08080a */
    --foreground: 249 249 249;             /* #f9f9f9 */

    --card: 8 8 10;                        /* #08080a */
    --card-foreground: 249 249 249;        /* #f9f9f9 */

    --popover: 8 8 10;                     /* #08080a */
    --popover-foreground: 249 249 249;     /* #f9f9f9 */

    --primary: 249 249 249;                /* #f9f9f9 */
    --primary-foreground: 23 23 27;        /* #17171b */

    --secondary: 39 39 42;                 /* #27272a */
    --secondary-foreground: 249 249 249;   /* #f9f9f9 */

    --muted: 39 39 42;                     /* #27272a */
    --muted-foreground: 161 161 169;       /* #a1a1a9 */

    --accent: 39 39 42;                    /* #27272a */
    --accent-foreground: 249 249 249;      /* #f9f9f9 */

    --destructive: 127 29 29;              /* #7f1d1d */
    --destructive-foreground: 249 249 249; /* #f9f9f9 */

    --border: 39 39 42;                    /* #27272a */
    --input: 39 39 42;                     /* #27272a */
    --ring: 211 211 215;                   /* #d3d3d7 */

    --input-info-error: 235 57 66;         /* #eb3942 */
    --input-info-success: 43 184 113;      /* #2bb871 */

    --main-red: 229 9 20;                  /* #e50914 */
    --main-dark: 20 20 20;                 /* #141414 */
    --main-gray: 51 51 51;                 /* #333333 */
    --main-white-100: 255 255 249;         /* #fffff9 */
    --main-white-300: 188 188 188;         /* #bcbcbc */
    --main-match-color: 70 211 105;        /* #46d369 */
    --main-login-input-info: 232 124 3;    /* #e87c03 */

    --chart-1: 231 110 80;                 /* #e76e50 */
    --chart-2: 42 157 144;                 /* #2a9d90 */
    --chart-3: 39 71 84;                   /* #274754 */
    --chart-4: 232 196 104;                /* #e8c468 */
    --chart-5: 244 164 98;                 /* #f4a462 */

    --radius: 0.5rem;
    overflow-x: hidden;
  }
}

* {
  @apply border-border;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .padding-layout {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 640px) {
    .title {
      margin-bottom: 0.3rem;
    }

    .padding-layout {
      padding-left: 3vw;
      padding-right: 3vw;
    }
  }

  @media (min-width: 1024px) {
    .title {
      margin-bottom: 0.75rem;
    }
  }

  @media (min-width: 1280px) {
    .padding-layout {
      padding-left: 3.5vw;
      padding-right: 3.5vw;
    }
  }
}
